<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.springcloud.atguigu.springcloud.dao.PaymentMapper">

    <insert id="create" parameterType="com.atgui.springcloud.entities.Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(liushuihao) values(#{liushuihao})
    </insert>

    <resultMap id="BaseResultMap" type="com.atgui.springcloud.entities.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="liushuihao" property="liushuihao" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">
        select * from payment where id=#{id};
    </select>
</mapper>
